html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.start {
  background: url(https://blackrockdigital.github.io/startbootstrap-agency/img/header-bg.jpg);
  height: 1000px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
@media (max-width: 300px) {
  .start {
    width: 1500px;
  }
}
@media (min-width: 300px) {
  .start {
    width: 1500px;
  }
}
.welcome {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 40px;
  line-height: 40px;
}
.main-div {
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  bottom: 200px;
}
.nice {
  font-family: "Montserrat", sans-serif;
  font-size: 75px;
  line-height: 75px;
  font-weight: 700px;
}

.main-btn {
  background-color: #fed136;
  border-color: #fed136;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: white;
  font-size: 18px;
  padding: 20px 40px;
  border-radius: 7px;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;
  bottom: 110px;
  color: white;
  list-style-type: none;
}

.start-btn {
  position: relative;
  right: 200px;
  font-family: "Kaushan Script", cursive;
  font-size: 28px;
  color: #fec503;
  line-height: 42px;
  font-weight: 400;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  width: 500px;
  position: relative;
  left: 400px;
  top: 20px;
}
@media (max-width: 300px) {
  .main-nav {
    position: relative;
    left: 50px;
  }
}
@media (min-width: 300px) {
  .main-nav {
    position: relative;
    left: 50px;
  }
}

.nav-dec {
  text-decoration: none;
  color: white;
}
#two {
  height: 770px;
}
.two-main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.two-cont {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  width: 1000px;
  position: relative;
  top: 250px;
}
.circle {
  height: 128px;
  width: 128px;
  background-color: #feca30;
  border-radius: 50%;
  display: inline-block;
}
h2 {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
}

.two-text {
  font-family: "Roboto Slab", serif;
}
.info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  text-align: center;
}
.two-info {
  text-align: center;
  position: relative;
  top: 120px;
  font-family: "Montserrat", sans-serif;
}

.cart {
  height: 80px;
  position: relative;
  top: 26px;
}
#three {
  height: 1250px;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: flex-end;
}
.centering {
  text-align: center;
}
.PORTFOLIO {
  background-color: white;
  width: 350px;
  height: 400px;
  text-align: center;
  margin: 20px;
}
.port-img {
  width: 350px;
  height: 260px;
}
.three-pics {
  width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}
h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
}
#four {
  height: 2000px;
}

.circle-img {
  position: relative;
  /* border: 2px solid #999; */
  /* border-radius: 100%; */
  /* width: 50px; */
  /* line-height: 50px; */
  text-align: center;
  margin-top: 50px;
  background-color: #fff;
  z-index: 2;
}
.circle-img:first-child {
  margin-top: 0;
}
.circle-img:before {
  position: absolute;
  border: 1px solid #999;
  width: 0;
  height: 236px;
  display: block;
  content: "";
  left: 50%;
  z-index: 1;
  top: -210px;
  margin-left: -1px;
}
.circle-img:first-child:before {
  display: none;
}
.four-pic {
  border-radius: 100%;
  width: 156px;
  height: 156px;
  margin: 0 0 -173px 0;
}

.four-pos {
  position: relative;
  top: 200px;
}
.four-text {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  width: 300px;
}
.four-font-size {
  font-size: 16px;
}

#one {
  position: relative;
  left: 561px;
  bottom: 72px;
}
#two-t {
  position: relative;
  left: 1060px;
  bottom: 45px;
  height: 304px;
}
#three-t {
  position: relative;
  left: 561px;
  bottom: 72px;
}
#four-t {
  position: relative;
  left: 1060px;
  bottom: 45px;
  height: 304px;
}

#about {
  display: flex;
  justify-content: center;
  align-content: center;
}
